@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "card.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	min-height: 100vh;
	background-color: var(--grey-900);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-300);
}

:root {
	/* Font */
	font-family: "Inter", sans-serif;

	/* Colors */
	--grey-900: #141414;
	--grey-800: #1f1f1f;
	--grey-700: #333333;
	--green: #c4f82a;
	--white: #ffffff;

	/* Spacing */
	--spacing-50: 4px;
	--spacing-100: 8px;
	--spacing-150: 12px;
	--spacing-200: 16px;
	--spacing-300: 24px;
	--spacing-500: 40px;
}

.text-preset-1,
.text-preset-2,
.text-preset-2-bold {
	font-style: normal;
	line-height: 150%;
	letter-spacing: 0px;
}

.text-preset-1 {
	font-size: 24px;
	font-weight: bold;
	color: var(--white);
}

.text-preset-2 {
	font-size: 14px;
	color: var(--white);
}

.text-preset-2-bold {
	font-size: 14px;
	font-weight: bold;
}

.green {
	color: var(--green);
}
